//estilização de painel vags
//declaração de variáveis
$primaria: #0000ff;
$secundaria: #999;
$sucesso: #00ff00;
$alerta: #ff0000;
$aviso: #ffff00;

h2 {
  text-align: center;
  padding: 20px;
  color: #555;
}

form {
  max-width: 100px;
}
